<section id="contact" class="bg-app-bg-soft text-app-text py-28 px-8">
    <div class="max-w-2xl mx-auto gap-20">
        <div class="mb-12 text-center font-bold text-2xl">Let's Connection</div>

        <div class="bg-app-surface p-10 rounded-3xl border border-app-border">
            <form class="space-y-6">
                <div>
                    <label class="block text-sm font-bold tracking-widest mb-2">Your Name</label>
                    <input type="text"
                        class="w-full bg-transparent border border-app-border rounded-xl px-4 py-4 focus:outline-none focus:border-secondary-cyan transition" />
                </div>
                <div>
                    <label class="block text-sm font-bold tracking-widest mb-2">Email
                        Address</label>
                    <input type="email"
                        class="w-full bg-transparent border border-app-border rounded-xl px-4 py-4 focus:outline-none focus:border-secondary-cyan transition" />
                </div>
                <div>
                    <label class="block text-sm font-bold tracking-widest mb-2">Your Message</label>
                    <textarea rows="4"
                        class="w-full bg-transparent border border-app-border rounded-xl px-4 py-4 focus:outline-none focus:border-secondary-cyan transition resize-none"></textarea>
                </div>
                <button class="w-full cursor-pointer px-8 py-4 font-medium rounded-full text-black
                   bg-linear-to-r from-brand-primary to-brand-secondary
                   transition-all duration-300
                   shadow-md hover:shadow-lg hover:-translate-y-0.5">
                    Send Message
                </button>

                <div class="flex gap-8">
                    <svg
                        class="w-6 h-6 text-app-text hover:text-[#1179EA] transition cursor-pointer hover:-translate-y-0.5">
                        <a href="https://github.com/ngxuantien" target="_blank">
                            <use href="icon/github.svg"></use>
                        </a>
                    </svg>

                    <svg
                        class="w-6 h-6 text-app-text hover:text-[#1179EA] transition cursor-pointer hover:-translate-y-0.5">
                        <a href="https://www.linkedin.com/in/nguy%E1%BB%85n-xu%C3%A2n-ti%E1%BA%BFn-7a7b55258/"
                            target="_blank">
                            <use href="icon/linkedin.svg"></use>
                        </a>
                    </svg>
                </div>
                <div class="flex flex-col gap-2 text-sm">
                    <a href="mailto:xuantien24689@gmail.com" class="hover:text-yellow-400">
                        <img src="./icon/mail.svg" alt="">
                        <span>
                            xuantien24689&#64;gmail.com
                        </span> 
                    </a>

                    <a href="tel:0123456789" class="hover:text-yellow-400">
                        <img src="./icon/phone.svg" alt="">
                        <span>
                            0855247441
                        </span>
                    </a>
                </div>
            </form>
        </div>
    </div>
</section>