<nav class="fixed top-0 left-0 w-full z-50 bg-app-surface">
  <div class="max-w-7xl mx-auto flex items-center justify-between px-8 py-4">
    <!-- Logo -->
    <div
      (click)="scrollTo('home')"
      class="cursor-pointer text-2xl font-black text-app-text tracking-tight transition"
    >
      Tien's Portfolio
    </div>

    <!-- Menu -->
    <div
      class="hidden md:flex items-center space-x-8 gap-2 text-sm font-medium text-app-text"
    >
      <a
        (click)="scrollTo('home')"
        class="cursor-pointer transition relative after:absolute after:-bottom-1 after:left-0 after:h-[2px] after:bg-app-text after:transition-all"
        [ngClass]="
          sectionService.activeSection() === 'home'
            ? 'text-app-text after:w-full'
            : 'hover:text-app-text after:w-0 hover:after:w-full'
        "
      >
        Home
      </a>

      <a
        (click)="scrollTo('about')"
        class="cursor-pointer transition relative after:absolute after:-bottom-1 after:left-0 after:h-[2px] after:bg-app-text after:transition-all"
        [ngClass]="
          sectionService.activeSection() === 'about'
            ? 'text-app-text after:w-full'
            : 'hover:text-app-text after:w-0 hover:after:w-full'
        "
      >
        About
      </a>

      <a
        (click)="scrollTo('skills')"
        class="cursor-pointer transition relative after:absolute after:-bottom-1 after:left-0 after:h-[2px] after:bg-app-text after:transition-all"
        [ngClass]="
          sectionService.activeSection() === 'skills'
            ? 'text-app-text after:w-full'
            : 'hover:text-app-text after:w-0 hover:after:w-full'
        "
      >
        Skills
      </a>

      <a
        (click)="scrollTo('projects')"
        class="cursor-pointer transition relative after:absolute after:-bottom-1 after:left-0 after:h-[2px] after:bg-app-text after:transition-all"
        [ngClass]="
          sectionService.activeSection() === 'projects'
            ? 'text-app-text after:w-full'
            : 'hover:text-app-text after:w-0 hover:after:w-full'
        "
      >
        Projects
      </a>

      <a
        (click)="scrollTo('experience')"
        class="cursor-pointer transition relative after:absolute after:-bottom-1 after:left-0 after:h-[2px] after:bg-app-text after:transition-all"
        [ngClass]="
          sectionService.activeSection() === 'experience'
            ? 'text-app-text after:w-full'
            : 'hover:text-app-text after:w-0 hover:after:w-full'
        "
      >
        Experience
      </a>

      <a
        (click)="scrollTo('contact')"
        class="cursor-pointer transition relative after:absolute after:-bottom-1 after:left-0 after:h-[2px] after:bg-app-text after:transition-all"
        [ngClass]="
          sectionService.activeSection() === 'contact'
            ? 'text-app-text after:w-full'
            : 'hover:text-app-text after:w-0 hover:after:w-full'
        "
      >
        Contact
      </a>
    </div>

    <!-- Button -->
    <div class="flex items-center gap-6">
      <button (click)="toggleTheme()" class="hover:-translate-y-0.5">
        @if (!isDark) {
          <svg
            class="w-6 h-6 hover:text-[#1179EA] transition cursor-pointer"
          >
            <use href="icon/moon.svg"></use>
          </svg>
        } @else {
          <svg
            class="w-6 h-6 hover:text-[#1179EA] transition cursor-pointer"
          >
            <use href="icon/sun.svg"></use>
          </svg>
        }
      </button>
      <a
        href="d:\Project\my-portfolio\src\assets\cv.pdf"
        target="_blank"
        class="group flex font-bold items-center gap-1 px-2 py-1 rounded-full bg-linear-to-r from-cyan-300 via-sky-400 to-indigo-500 transition duration-300 hover:-translate-y-0.5"
      >
        <svg
            class="w-6 h-6 transition cursor-pointer text-white"
          >
            <use href="icon/eye.svg"></use>
        </svg>
        <span class="text-white">CV</span>
      </a>

      <svg
        class="w-6 h-6 text-app-text hover:text-[#1179EA] transition cursor-pointer hover:-translate-y-0.5"
      >
        <a href="https://github.com/ngxuantien" target="_blank">
          <use href="icon/github.svg"></use>
        </a>
      </svg>

      <svg
        class="w-6 h-6 text-app-text hover:text-[#1179EA] transition cursor-pointer hover:-translate-y-0.5"
      >
        <a
          href="https://www.linkedin.com/in/nguy%E1%BB%85n-xu%C3%A2n-ti%E1%BA%BFn-7a7b55258/"
          target="_blank"
        >
          <use href="icon/linkedin.svg"></use>
        </a>
      </svg>
    </div>
  </div>
</nav>
