<nav class="fixed top-0 left-0 w-full z-50 
bg-white/80 dark:bg-obsidian-dark/80 
backdrop-blur-md 
border-b border-slate-200/50 dark:border-slate-800/50 
transition-colors duration-300">

    <div class="max-w-7xl mx-auto flex items-center justify-between px-8 py-4">

        <!-- Logo -->
        <div (click)="scrollTo('home')"
            class="text-secondary-cyan font-bold text-xl tracking-wider uppercase cursor-pointer hover:opacity-80 transition">
            Portfolio
        </div>

        <!-- Menu -->
        <div class="hidden md:flex items-center space-x-8 text-sm font-medium text-slate-600 dark:text-slate-400">

            <a (click)="scrollTo('home')"
                class="cursor-pointer text-white relative after:absolute after:-bottom-1 after:left-0 after:w-full after:h-[2px] after:bg-white">
                Home
            </a>

            <a (click)="scrollTo('about')"
                class="cursor-pointer hover:text-white transition relative after:absolute after:-bottom-1 after:left-0 after:w-0 after:h-[2px] after:bg-white hover:after:w-full after:transition-all">
                About
            </a>

            <a (click)="scrollTo('skills')"
                class="cursor-pointer hover:text-white transition relative after:absolute after:-bottom-1 after:left-0 after:w-0 after:h-[2px] after:bg-white hover:after:w-full after:transition-all">
                Skills
            </a>

            <a (click)="scrollTo('projects')"
                class="cursor-pointer hover:text-white transition relative after:absolute after:-bottom-1 after:left-0 after:w-0 after:h-[2px] after:bg-white hover:after:w-full after:transition-all">
                Projects
            </a>

            <a (click)="scrollTo('experience')"
                class="cursor-pointer hover:text-white transition relative after:absolute after:-bottom-1 after:left-0 after:w-0 after:h-[2px] after:bg-white hover:after:w-full after:transition-all">
                Experience
            </a>

            <a (click)="scrollTo('contact')"
                class="cursor-pointer hover:text-white transition relative after:absolute after:-bottom-1 after:left-0 after:w-0 after:h-[2px] after:bg-white hover:after:w-full after:transition-all">
                Contact
            </a>
        </div>

        <!-- Button -->
        <div class="flex items-center space-x-4">
            <button (click)="toggleTheme()" class="p-2 rounded-lg bg-slate-200 dark:bg-slate-700 hover:bg-slate-600 transition">
                @if (!isDark) {
                <span>🌙</span>
                } @else {
                <span>☀️</span>
                }
            </button>
            <button
                class="bg-[#A5F3FC] text-obsidian-dark px-6 py-2 rounded-lg font-bold text-sm hover:bg-white transition shadow-[0_0_20px_rgba(165,243,252,0.3)] hover:shadow-[0_0_30px_rgba(165,243,252,0.6)]">
                Hire Me
            </button>

            <svg class="w-6 h-6 text-amber-50 hover:text-[#1179EA] transition cursor-pointer">
                <use href="icon/github.svg"></use>
            </svg>

            <svg class="w-6 h-6 text-amber-50 hover:text-[#1179EA] transition cursor-pointer">
                <use href="icon/linkedin.svg"></use>
            </svg>
        </div>
    </div>
</nav>