<div
  id="home"
  class="min-h-screen flex items-center justify-center bg-transparent text-app-text dark:text-app-text-soft font-sans relative"
>
  <main class="w-full max-w-7xl mx-auto px-8 py-20 z-10">
    <div
      class="flex flex-col items-center justify-center text-center max-w-full mx-auto"
    >
      <div class="w-48 h-48 mb-8">
        <img
          src="./images/my-pic.jpg"
          alt="Nguyen Xuan Tien"
          class="w-full h-full object-cover rounded-full border-4 border-slate-100 dark:border-slate-800 shadow-xl"
        />
      </div>

      <div class="flex flex-col items-center">
        <h1
          class="text-4xl md:text-6xl font-black tracking-tighter leading-tight mb-4 text-slate-900 dark:text-white"
        >
          Hi, I'm
          <span class="text-brand-primary">Nguyen Xuan Tien</span>
        </h1>

        <p
          class="text-slate-600 dark:text-slate-400 text-lg leading-relaxed max-w-xl mb-10"
        >
          A full-stack developer driven by a passion for turning ideas into
          powerful, real-world web applications that deliver meaningful impact.
        </p>

        <div
          class="flex flex-col sm:flex-row items-center space-y-4 sm:space-y-0 sm:space-x-4"
        >
          <button
            (click)="scrollTo('projects')"
            class="bg-brand-primary hover:bg-brand-primary-hover cursor-pointer text-white dark:text-app-text px-8 py-4 rounded-xl font-bold transition flex items-center shadow-lg shadow-indigo-500/20 w-full sm:w-auto justify-center"
          >
            View Projects
          </button>

          <button
            (click)="scrollTo('contact')"
            class="border border-slate-300 dark:border-slate-700 cursor-pointer bg-slate-100/50 dark:bg-slate-900/50 hover:bg-slate-200 dark:hover:bg-slate-800 text-slate-900 dark:text-white px-8 py-4 rounded-xl font-bold transition w-full sm:w-auto"
          >
            Contact Me
          </button>
        </div>
      </div>
    </div>
  </main>
</div>
