<footer class="bg-transparent py-12 px-8 border-t border-slate-300 dark:border-slate-900">
    <div class="max-w-7xl mx-auto flex flex-col items-center">
        <div class="flex space-x-8 mb-8 text-[10px] font-bold tracking-[0.2em] text-slate-500 uppercase">
            <a href="#" class="hover:text-slate-900 dark:text-white transition">Github</a>
            <a href="#" class="hover:text-slate-900 dark:text-white transition">Linkedin</a>
            <a href="#" class="hover:text-slate-900 dark:text-white transition">Twitter</a>
        </div>
        <p class="text-[10px] text-slate-600 tracking-widest uppercase">
            © 2024 Digital Architect. Crafted with Atmospheric Precision.
        </p>
    </div>
</footer>