<footer class="bg-transparent py-12 px-8 border-t border-slate-300 dark:border-slate-900">
    <div class="max-w-7xl mx-auto flex flex-col items-center">
        <div class="flex space-x-8 mb-8 text-[10px] font-bold tracking-[0.2em] text-slate-500 uppercase">
            <a target="_blank" href="https://github.com/ngxuantien" class="hover:text-slate-900 dark:text-white transition">Github</a>
            <a target="_blank" href="https://www.linkedin.com/in/nguy%E1%BB%85n-xu%C3%A2n-ti%E1%BA%BFn-7a7b55258/" class="hover:text-slate-900 dark:text-white transition">Linkedin</a>
        </div>
        <p class="text-sm text-slate-200 tracking-widest">
            © 2025 NguyenXuanTien's Portfolio
        </p>
    </div>
</footer>